# © Crown Copyright GCHQ
# 
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
# 
#     http://www.apache.org/licenses/LICENSE-2.0
# 
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
direnv version 2.23.0 || exit 1
if [ $(nix-env --version | grep -oE '[0-9]+\.[0-9]+' | head -n1 | sed 's/\./000/') -lt 20004 ]; then
  echo 'This project is set up to work with Nix Flakes, which your version of nix doesn'"'"'t support.'
  echo 'Please upgrade your nix version to at least 2.4 to continue.'
  exit 1
fi
if ! nix show-config --extra-experimental-features nix-command | grep experimental-features | grep flakes 1>/dev/null 2>&1; then
  printf '\033[31m'
  echo 'This project is set up to work with Nix Flakes, which you don'"'"'t currently have enabled.'
  echo 'Please enable flakes by following the instructions at https://nixos.wiki/wiki/flakes#Installing_flakes'
  printf '\033[0m'
  exit 1
fi
if ! nix show-config 1>/dev/null 2>&1; then
  printf '\033[31m'
  echo 'This project is set up to work with Nix Flakes, which you don'"'"'t currently have enabled.'
  echo 'Specifically, the "nix-command" option is missing from your nix experimental-features configuration.'
  echo 'Please enable flakes by following the instructions at https://nixos.wiki/wiki/flakes#Installing_flakes'
  printf '\033[0m'
  exit 1
fi
use flake
eval "$shellHook"
